body {
  width: 100%;
  height: auto;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../Imagens/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.totem {
  /* background-image: url("../Imagens/TOTEM.png"); */
  background-repeat: no-repeat;
  position: relative;
  width: 200px;
  height: 500px;
  display: block;
}

.add {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  width: 198px;
  height: 80px;
  top: 223px;
  left: 36px;
}

.substract {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  width: 198px;
  height: 79px;
  top: 308px;
  left: 36px;
}

.next-round {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  width: 198px;
  height: 49px;
  top: 397px;
  left: 36px;
}

.results {
  background-color: transparent;
  width: 50px;
  height: 50px;
  font-family: 'Roboto Slab', serif;
  position: absolute;
  top: 117px;
  left: 108px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.results {
  color: white;
  font-size: 25px;
  text-align:center;
}


.imagem {
  width: 100%;
  height: 100%;
}